<header class="block block-header-1">
  <div class="block-header-1--logo">
    <div class="block-header-1--sidebar" on="tap:sidebar.open">≡</div>
    <a href="{{ site.url | relative_url }}">
      <amp-img src="{{ section.logo | relative_url }}" alt="{{ site.title }}" width="50" height="30"></amp-img>
    </a>
  </div>
  <nav class="block-header-1--nav">
    <ul>
      {%- for nav_item in section.navigation -%}
      <li class="nav-item {%- if page.url == nav_item.link -%}active{%- endif -%}"><a href="{{ nav_item.link | relative_url }}">{{ nav_item.link_text }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>
</header>
