<main class="block block-hero-2">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">{{ section.headline }}</span></h1>
        <p>{{ section.content }}</p>
        {%- if section.cta and section.cta.enabled == true -%}
        <a class="button primary inverted" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {%- endif -%}
      </div>
      <div class="column media">
        <amp-img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}" layout="fixed-height" height="300"></amp-img>
      </div>
    </div>
  </div>
</main>