@import 'colors';
@import 'feature-2';
.block-feature-1 {
  background-color: $gold-dark;
}

.block-feature-1 .columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center
}

.block-feature-1 .column.text {
  margin-right: 0;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  color: $black-light;
}

.block-feature-1 .column.media,
.block-feature-1 .column.text {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.block-feature-1 .column.text h2 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  color: $black-dark;
}

.block-feature-1 .column.media amp-img {
  max-width: 100%;
}

@media screen and (min-width:700px) {
  .block-feature-1 .columns {
    text-align: left
  }
  .block-feature-1 .column.text {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    margin-right: 2rem;
    margin-bottom: 0
  }
  .block-feature-1 .column.media {
    -ms-flex: 0 0 calc(60% - 2rem);
    flex: 0 0 calc(60% - 2rem)
  }
}
