@import 'colors';
.block-hero-2 {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $black-dark;
  color: $gold-dark;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 100%
}

.block-hero-2,
.block-hero-2 .columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.block-hero-2 .columns {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.block-hero-2 .column.text {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  text-align: center
}

.block-hero-2 .column.media {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 96px;
  margin-top: 6rem
}

.block-hero-2 .column.text p {
  margin: 16px 0 32px;
  margin: 1rem 0 2rem;
  color: $white-light;
  font-size: 16px;
  font-size: 1rem
}

.block-hero-2 .column.media amp-img {
  width: 100%
}

.block-hero-2 .column.media amp-img img{
  object-fit: contain
}

@media screen and (min-width:700px) {
  .block-hero-2 .column.text {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    text-align: left
  }
  .block-hero-2 .column.media {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0
  }
  .block-hero-2 .column.media amp-img {
    width: 45vw;
    max-width: 520px
  }
}
