@import 'colors';
@import 'sidebar';
.block-header-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 32px;
  padding: 1rem 2rem;
  background-color: $gold-dark;
}

.block-header-2--sidebar {
  display: inline-block;
  height: 30px;
  overflow: hidden;
  font-size: 40px;
  line-height: 30px;
  color: $black-dark;
}

.block-header-2--logo amp-img {
  max-height: 24px;
  max-height: 1.5rem
}

.block-header-2--nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline
}

.block-header-2 .nav-item {
  display: inline-block;
  list-style: none;
  margin-right: 16px;
  margin-right: 1rem;
  font-size: 13.6px;
  font-size: .85rem
}

.block-header-2 .nav-item.active a {
  text-decoration: underline;
}

.block-header-2 .nav-item a {
  text-decoration: none;
  color: $black-light;
}

.block-header-2 .nav-item a:hover {
  color: $black-dark;
}

.block-header-2 .nav-item:last-of-type {
  margin: 0
}

.block-header-2--cta {
  margin-left: 32px;
  margin-left: 2rem
}